In [7]:
import json
from pprint import pprint
import re

import pymongo
import requests
from pymongo import MongoClient
from pymongo.errors import BulkWriteError
from tqdm import tqdm
import pandas as pd


client = MongoClient(host="localhost", port=27017)
db = client["personal"]
company_collection = db["companies"]
salary_collection = db["salaries"]

res = salary_collection.aggregate([
    {"$match": {
        "AverageExperience": {"$lt": 7},
        "AverageCtc": {"$gt": 25}}},
    {"$sort": {"AverageCtc": -1}}
    ])

sorted_salaries = list(res)

[doc.pop("_id") for doc in sorted_salaries]
# with open("logs/morethan25.json", "w+") as f:
#     json.dump(sorted_salaries, f)

salaries_df = pd.DataFrame(sorted_salaries)
# print(salaries_df[["CompanyName", "MaxCtc", "MinCtc", "AverageCtc","JobProfileName"]])

pd.set_option("display.max_rows", None, "display.max_columns", None)
profiles_count = salaries_df["JobProfileName"].value_counts()
# pprint(profiles_count)

In [9]:
salaries_df[["JobProfileName", "AverageCtc", "DataPoints", "AverageExperience", "CompanyName"]]

,JobProfileName,AverageCtc,DataPoints,AverageExperience,CompanyName
0,Software Engineer,68.4,47.0,1.92,Facebook
1,Software Engineer II,57.3,10.0,5.16,Uber
2,Software Development Engineer,45.1,4.0,6.00,Atlassian
3,Principal Software Engineer,39.9,3.0,6.78,Verse Innovation
4,Project Lead,39.2,9.0,6.58,DE Shaw
5,Senior Software Engineer,38.8,3.0,6.53,Dubai Islamic Bank
6,Senior Member of Technical Staff,38.7,3.0,4.56,DE Shaw
7,Senior Software Engineer,33.8,129.0,3.83,Google
8,Senior Consultant,33.8,17.0,3.17,Bain & Company
9,Computer Scientist,33.6,148.0,6.69,Adobe
10,Data Engineer,33.3,5.0,1.48,Autodesk
11,Principal Engineer,33.1,5.0,5.55,Whitehat jr
12,Lead Engineer,32.8,3.0,5.50,ZOMATO
13,Principal Software Engineer,32.2,3.0,6.00,Chargebee
14,Senior Associate Consultant,32.0,19.0,3.26,Bain & Company
15,IT Manager,30.8,4.0,5.21,Procter & Gamble
16,Software Engineer,30.8,100.0,1.66,Uber
17,Senior Software Engineer,30.7,5.0,6.14,BIZONGO
18,Software Engineer,30.5,840.0,3.01,Google
19,Senior Systems Engineer,30.4,12.0,4.86,Nvidia
20,Developer,29.8,6.0,6.50,Atlassian
21,Senior Software Engineer,29.6,12.0,5.08,ZOMATO
22,Software Engineer III,29.6,3.0,6.00,NIKE
23,Senior Software Engineer,29.5,13.0,6.89,Linkedin
24,Senior Software Engineer,29.3,159.0,6.29,Amazon
25,Software Engineer,29.2,4.0,6.61,Emaratech
26,Senior Software Engineer,29.1,25.0,6.67,Apple
27,Senior Consultant,29.1,3.0,5.06,Nomura Research Institute Consulting and Solut...
28,Data Engineer,28.8,3.0,6.53,Aruba Networks
29,Software Developer II,28.8,3.0,4.64,Swiggy
30,Software Engineer,28.4,33.0,4.14,Linkedin
31,Senior Software Engineer,28.1,32.0,5.56,Goldman Sachs
32,Senior Software Engineer,28.0,4.0,6.33,ZestMoney
33,Senior Software Engineer,27.9,5.0,6.00,BrowserStack
34,Software Engineer,27.7,1272.0,4.49,Microsoft Corporation
35,Senior Software Engineer,27.7,3.0,3.03,Coolwinks Technologies Pvt. Ltd.
36,Senior Software Engineer,27.0,5.0,4.08,MoEngage
37,Senior Consultant,27.0,5.0,4.71,Uber
38,Senior Program Manager,26.6,11.0,6.11,Ola Cabs
39,Software Development Engineer,26.3,99.0,3.71,Microsoft Corporation
40,Senior Devops Engineer,26.3,5.0,5.61,Paytm Money
41,Senior Program Manager,26.3,4.0,5.55,Whitehat jr
42,Member Technical Staff,26.2,11.0,1.42,DE Shaw
43,Senior Software Engineer,26.1,10.0,4.33,Swiggy
44,Software Engineer,26.1,110.0,5.40,Apple
45,Technical Lead,26.0,4.0,6.17,Smartek21
46,Senior Data Engineer,25.8,3.0,5.75,NIKE
47,Software Developer II,25.7,4.0,4.29,Ola Cabs
48,Technical Lead,25.6,111.0,6.91,PayTM
49,Senior Cloud Engineer,25.6,5.0,5.58,Tavisca Solutions
50,Senior Devops Engineer,25.5,4.0,6.11,Deutsche Telekom
51,Senior Data Engineer,25.5,5.0,5.02,MakeMyTrip
52,Lead Business Analyst,25.5,4.0,6.22,Swiggy
53,Senior Software Engineer,25.3,5.0,3.50,Treebo Hotels
54,Technical Lead,25.2,4.0,5.27,BigBasket